.Head
  %h1 YOU ARE
  .Head__login-box
  = link_to explanations_path,class:"Head__login-box__child" do
    はじめてのひとへ
  = link_to "/comments/new",class:"Head__login-box__child" do
    そうだんする
  = link_to "/child_secrets",class:"Head__login-box__help" do
    こまったとき
  = link_to "#",class:"Head__login-box__adult" do
    大人の方へ
.Search

.Home
  .Main
    - @comments.each do |comment|
      .Main__comment-box
        .Main__comment-box__name-box
          .Main__comment-box__name-box__name
            = comment.name
          .Main__comment-box__name-box__age
            = comment.age
        .Main__comment-box__tittle
          = comment.tittle
        .Main__comment-box__text-box
          .Main__comment-box__text-box__text
            = comment.text
        = link_to comment_path(comment.id),class:"Main__comment-box__text-box__comment-btn" do
          見てみる
  .Side
.Footer
  Copyright YOU ARE 2020.
