.Head
  %h1 YOU ARE
  .Head__login-box
  = link_to explanations_path,class:"Head__login-box__child" do
    はじめてのひとへ
  = link_to "/comments",class:"Head__login-box__child" do
    はじめにもどる
  = link_to "/child_secrets",class:"Head__login-box__help" do
    こまったとき
  = link_to "#",class:"Head__login-box__adult" do
    大人の方へ
.Form-box
  =form_with(model: @comment, html: {class: "Form-new"}, local: true) do |form|
    %h3 そうだんしてみよう！
    .Form-new__contents
      .Form-new__contents__select-box
        = form.text_field :name, class:'Form-new__contents__select-box__nameContent', placeholder: "ニックネーム"
        = form.select :age, {'7さい': "7さい", '8さい': "8さい", '9さい': "9さい", '10歳': "10歳", '11歳': "11歳", '12歳': "12歳", '13歳': "13歳", '14歳': "14歳", '15歳': "15歳", '16歳': "16歳", 'ヒミツ': "ヒミツ"}, { include_blank: 'ねんれい'}, { class: 'form-control' , required: true }
      = form.text_field :tittle, class:'Form-new__contents__tittleContent',placeholder: "だいめい" 
      = form.text_area :text, class:'Form-new__contents__inputContent', placeholder: "そうだんないよう", rows: "200"
      = form.submit "送る",class:'Form-new__contents__inputSEND'

    -# .Form-box__form-contents
      -# = f.text_field :name, class:"Form-box__form-contents__name-box", placeholder: "ニックネーム"
      -# = f.select :age, class: "Form-box__form-contents__age-box" [["6", 0],["7", 1],["8", 2],["9",3],["10",4],["11",5],["12",6],["13",7],["14",8],["15",9],["16",10]["ヒミツ",11]]
      -# = f.text_field :tittle, class: "Form-box__form-contents__tittle-box", placeholder: "タイトル"
      -# = f.text_field :text, class: "Form-box__form-contents__text-box", placeholder: "そうだんごと"
    -# = f.submit "Send", class: "Form-box__submitBtn"
.Footer
  Copyright YOU ARE 2020.