.Head
  %h1 YOU ARE
  .Head__login-box
  = link_to explanations_path,class:"Head__login-box__child" do
    はじめてのひとへ
  = link_to "/comments/new",class:"Head__login-box__child" do
    そうだんする
  = link_to "/child_secrets",class:"Head__login-box__help" do
    こまったとき
  = link_to "#",class:"Head__login-box__adult" do
    大人の方へ
.Home
  .Main
    .Main__comment-box
      .Main__comment-box__name-box
        .Main__comment-box__name-box__name
          = @comment.name
        .Main__comment-box__name-box__age
          = @comment.age
      .Main__comment-box__tittle
        = @comment.tittle
      .Main__comment-box__text-box
        .Main__comment-box__text-box__text
          = @comment.text
      = link_to "/comments",class:"Main__comment-box__text-box__back-btn" do
        もどる
    .Message
      .Message__message-box
        %h4 【 そうだんの答え 】
        - if @messages
          - @messages.each do |message|
            .Message__message-box__message-answer
              .Message__message-box__message-answer__answer-box
                .Message__message-box__message-answer__answer-box__answer-name
                  = message.name
                .Message__message-box__message-answer__answer-box__answer-age
                  = message.age
              .Message__message-box__message-answer__answer-text
                = message.text
              = button_to 'ありがとう', comment_message_likes_path(@comment,message)
              = message.likes.count
   
  .Side
    .Side__side-box
      = form_with(model:[@comment, @message], html: {class: "Form" }, local: true) do |form|
        %h2 そうだんに答えてみよう！
        .Side__side-box__side-content
          .Side__side-box__side-content__side-tag
            = form.text_field :name, class:'Side__side-box__side-content__side-tag__side-name', placeholder: "ニックネーム"
            = form.select :age, {'7さい': "7さい", '8さい': "8さい", '9さい': "9さい", '10歳': "10歳", '11歳': "11歳", '12歳': "12歳", '13歳': "13歳", '14歳': "14歳", '15歳': "15歳", '16歳': "16歳", 'ヒミツ': "ヒミツ", '大人': "大人"}, { include_blank: 'ねんれい'}, { class: 'side-control' , required: true }
          = form.text_area :text, class:'Side__side-box__side-content__side-text', placeholder: "コメント", rows: "100"
          = form.submit "送る",class:'Side__side-box__side-content__side-send'
.Footer
  Copyright YOU ARE 2020.
