%body

-# = render "head"
= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'Button'
.Search-Form
  = form_with(url: search_comments_path, local: true, method: :get, class: "search-form") do |form|
    = form.text_field :keyword, placeholder: "質問検索", class: "search-input"
    = form.submit "調べる", class: "search-btn"
.Home
  .Main
    - @comments.each do |comment|
      .Main__comment-box
        .Main__comment-box__name-box
          .Main__comment-box__name-box__name
            = comment.name
          .Main__comment-box__name-box__age
            = comment.age
        .Main__comment-box__tittle
          = comment.tittle
        .Main__comment-box__text-box
          .Main__comment-box__text-box__text
            = comment.text
        -# = link_to comment_path(comment.id),class:"Main__comment-box__text-box__comment-btn" do
        -#   見てみる
        - if user_signed_in?
          .default
            = link_to comment_path(comment.id), method: :delete, local: true, data: { confirm: '削除してよろしいですか？' } do
              %input.default__gray{type: "submit", value: "削除"}
  .Side
.Footer
  Copyright YOU ARE 2020.
